{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block head %}
    {{ super() }}

    <style type="text/css">
        th { text-align:center; }
        td { text-align:center; }
    </style>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    function filter() {
        var user = $("#filter-user").val();
        var operation = $("#filter-operation").val();

        window.location.href="/admin/operating_records?user="+user+"&operation="+operation;
    }
</script>
{% endblock %}

{% block page_content %}
<div id="filter">
    用户：<input type="text" id="filter-user" value="{{ filter_user }}" />
    操作：<input type="text" id="filter-operation"  value="{{ filter_operation }}" />
    <button type="button" class="btn btn-primary" onclick="filter()">筛选</button>
</div>
{% include "_operating_records.html" %}

<div class="pagination">
    {{ macros.pagination_widget(pagination, '.operating_records', user=filter_user, operation=filter_operation) }}
</div>
{% endblock %}
